server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:upskilldb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    # <-- defer deve estar aqui, no mesmo nível de jpa (não dentro de hibernate)
    defer-datasource-initialization: true
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

logging:
  level:
    org.hibernate.SQL: DEBUG
